form{
  .error input{
    border-color: $red;
    color: $red;
    &:focus{
      border-color: $red;
      @include box-shadow($red 0px 0px 5px);
    }
    color:$red;
  }
  .success input{
    border-color: $success-color;
    color:$success-color;
    margin-bottom:0px;
    &:focus{
      border-color: $success-color;
    }
  }

  .success label,
  label.success{
    @include form-label-error-color($success-color);
  }
  .success small,
  small.success{
   @include form-error-message($success-color);
  }

  span.prefix,
  span.postfix {
    border-color: $clouds;
  }
}
