// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// Compass Imports
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/opacity";

// FLAT UI Customizations
@import "headings";
@import "buttons";
@import "pagination";
@import "topbar";
//@import "subnav";
@import "forms";
//@import "sections";
//@import "sidenav";
//@import "breadcrumbs";
@import "misc";


body {
	font-family: Lato, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.231;
}

header {
	background: url(../images/marquee-stars.svg) #074e68;
	background-size: cover;
	padding: 22px 0;
	h5 {
		font-weight: 300;
		color: white;
	}
	dl, dd, input.button {
		margin: 0;
	}
}

table { border: 0; }

.top-bar-section ul li > a.ogre {
	padding: 2px 6px 0 4px;
	line-height: 20px;
	background: #111111;
}

h2#username {
	width: 70%;
	border-bottom: solid 1px #dddddd;
}

.row .user-info {
	margin-top: 20px;
}

.body {
	padding-top: 20px;
}

/* -----------------------------------------
   Listing
----------------------------------------- */
ul#ebook-listing, ul.users, ul.formats { list-style-type: none; margin-left: 0px; }

.odd { background-color: #aaa; color: #0A65C8; }
.even { background-color: #ddd; color: #2A85E8; }

li.ebook { clear: both; padding: 6px; }
li.ebook .secondsection { height: 1.3em; clear: both; }
li.ebook a.title { font-size: 1.2em; }

li.ebook span.info { float: right; line-height:20px; }

ul.users li, ul.formats li { float: left; margin-bottom: 0px; font-size: 0.9em; }
ul.users { float: right; margin-bottom: 0px; }
ul.formats { float: left; margin-bottom: 0px; }

.hidden { display: none; }


/* -----------------------------------------
   Footer
----------------------------------------- */
.row.full-width {
	max-width: 100%;
}

footer.row.full-width {
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 30px;
	border-top: solid 1px #dddddd;
	font-size: 14px;
}

#copyright {
	background: #3f3f3f;
	color: #fff;
	padding: 11px 0;
}
#copyright a {
    color: #fff;
    font-size: 14px;
}
#copyright p, #copyright ul {
    margin-bottom: 0;
}

