build/
dist/
*.egg-info
*.pyc
.coverage

.DS_Store
OGRE_DRM_Tools*.zip
search.db
.sass-cache
ogreserver/static/stylesheets
.cache
static/docs
bower_components
ogreserver.log

.vagrant

flask.app.conf.py

sesame.ogre.key
github.*.pky

logs
uploads

ogreserver/config/packer/box/*
ogreserver/config/packer/packer_cache
ogreserver/config/packer/*.iso

celerybeat-schedule
celerybeat.pid

tests/ebooks/DRM.azw
