build/
dist/
*.egg-info
*.pyc
.coverage

ogreclient/dedrm/
ogreserver/install
ogreserver/robots.txt

.DS_Store
OGRE_DRM_Tools*.zip
search.db
.sass-cache
ogreserver/static/stylesheets
ogreserver/static/dist
.cache
static/docs
bower_components
ogreserver.log

.vagrant

flask.app.conf.py

sesame.ogre.key
github.*.pky

logs
uploads

ogreserver/config/packer/box/*
ogreserver/config/packer/packer_cache
ogreserver/config/packer/*.iso

celerybeat-schedule
celerybeat.pid

tests/ebooks/DRM.azw

ogreclient/.Python
ogreclient/bin/
ogreclient/include/
ogreclient/lib/
ogreclient/pip-selfcheck.json
ogreclient/share/
