build/
*.cfg
dist/
*.egg-info
*.pyc

.DS_Store
OGRE_DRM_Tools*.zip
search.db
.sass-cache
ogreserver/static/stylesheets
.cache

.vagrant

flask.app.conf.py

sesame.ogre.key
github.*.pky
dev_vars.sls
!dev_vars.sls.encrypted
prod_vars.sls
!prod_vars.sls.encrypted
