/* Foundation v2.1.5 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Listing
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { background: #ccc; }

ul { list-style-type: disc; margin-left: 30px; }
ol ol { list-style-type: lower-roman; }
ol ul { margin-left: 30px; }
ol ol, ol ul { margin-top: 10px; }

pre { font-family: Monaco, monospace; }

.error { display: block; width: 50%; background-color:#ffcccc; }

/* -----------------------------------------
   Listing
----------------------------------------- */
ul.ebooks, ul.users, ul.formats { list-style-type: none; margin-left: 0px; }
ul.ebooks { margin-left: 20px; width: 600px; }

li.ebook { clear: both; padding: 6px; }
li.ebook .secondsection { height: 1.3em; clear: both; }
li.odd { background-color: #aaa; color: #0A65C8; }
li.even { background-color: #ddd; color: #2A85E8; }
li.ebook a.title { font-size: 1.2em; }

li.ebook span.info { float: right; line-height:20px; }

ul.users li, ul.formats li { float: left; margin-bottom: 0px; font-size: 0.9em; }
ul.users { float: right; margin-bottom: 0px; }
ul.formats { float: left; margin-bottom: 0px; }





