{% extends "layout.html" %}
{% block body %}
	<h2>Removing DRM</h2>

	<p>Follow these instructions to get started removing DRM from your Amazon and Adobe purchased ebooks. As usual, it is slightly more complicated for Windows users.</p>

	<p>Currently two formats are covered:</p>
	<ul>
		<li>Amazon Kindle - .AWZ or .MOBI</li>
		<li>Adobe Digital Editions - .PDF</li>
	</ul>

	<h3>Amazon Kindle</h3>

	<ol>
		<li>
			<strong>Download and install Python for Windows:</strong>
			<ul>
				<li>Download and run the <a href="http://downloads.activestate.com/ActivePython/releases/2.7.2.5/ActivePython-2.7.2.5-win32-x86.msi">Python installer</a> from Activestate.</li>
				<li>Open a command prompt, by clicking the Start menu and then "Run.."</li>
				<li>Type this command and hit enter: <pre>pypm install pycrypto</pre></li>
			</ul>
		</li>
		<li>
			<strong>Download and install Calibre:</strong>
			<ul>
				<li><a href="http://calibre-ebook.com/download" target="_blank">Calibre</a></li>
			</ul>
		</li>
		<li>
			<strong>Download and unzip the DRM Tools for your OS:</strong>
			<ul>
				<li>On OSX, we use a single application called "DeDRM 3.1.app" - <a href="{{ url_for('static', filename='OGRE_DRM_Tools_OSX_3.1.zip') }}">OGRE_DRM_Tools_OSX_3.1.zip</a></li>
				<li>On Windows, there is a folder containing "DeDRM_Drop_Target.bat" and some other stuff - <a href="{{ url_for('static', filename='OGRE_DRM_Tools_Win_2.8.zip') }}">OGRE_DRM_Tools_Win_2.8.zip</a></li>
			</ul>
		</li>
		<li>
			<strong>Download and install the Kindle App for your OS:</strong>
			<ul>
				<li><a href="http://www.amazon.com/gp/kindle/mac/download" target="_blank">OSX</a></li> 
				<li><a href="http://www.amazon.com/gp/kindle/pc/download" target="_blank">Windows</a></li> 
			</ul>
		</li>
		<li>
			<strong>Setup the Kindle App:</strong>
			<ol>
				<li>The Amazon application will already show three books. After you have registered, it will also show all the books you've bought.</li>
				<li>
					We need to setup where our books are stored.
					<ul>
						<li>On Windows this is "My Documents/My Kindle Content".</li>
						<li>OSX users should goto settings and change the "content folder" where the app downloads to. Remember this folder.</li>
					</ul>
				</li>
				<li>Register the application with your Amazon account.</li>
				<li>The little arrow-on-a-cloud icon indicates you haven't downloaded the book yet. Right-click and hit download.</li>
				<li>Your downloaded books will be in the folder mentioned above - conveniently named something like 'B005J578EW_EBOK.awz'.</li>
			</ol>
		</li>
		<li>
			<strong>Remove the DRM</strong>
			<ol>
				<li>
					Drag and drop your .AWZ file onto your DRM Tools file to clean the DRM:
					<ul>
						<li>OSX users drop onto <strong>DeDRM 3.1.app</strong></li>
						<li>Windows users drop onto <strong>DeDRM_Drop_Target.bat</strong></li>
					</ul>
				</li>
				<li>The output should be a slightly better named file, with the suffix <strong>.mobi</strong>.</li>
			</ol>
		</li>
		<li>
			<strong>Confirm it worked</strong>
			<ol>
				<li>Open the Calibre ebook application you installed in step 2. (Your eyes may bleed a little at first, but you'll get used to her).</li>
				<li>Drag-drop your newly created <strong>.mobi</strong> ebook into Calibre.</li>
				<li>Double-click the new entry in Calibre, and if it opens for you to read then you're good. You'll get an error message if not..</li>
			</ol>
		</li>
	</ol>

	<h3>Adobe Digital Editions</h3>

	<p>TBC</p>

{% endblock %}
