{% extends "layout.html" %}
{% block body %}

<div class="row">
	<h2 class="detail_page">{{ ebook.author }} - {{ ebook.title }}</h2>
</div>

<div class="row">
	{# <a href="{{ url_for("ebooks.edit", ebook_id=ebook.ebook_id) }}">edit ebook metadata</a> #}
</div>

<div class="row">

	{% if ebook.image_url %}

		<div class="large-4 column">
			<img src="{{ ebook.image_url }}" class="cover" alt="Book cover" />
		</div>

	{% endif %}

	<div class="large-8 column book-info book-buttons">
		<p><strong>Author</strong>: {{ ebook.author }}</p>
		<p><strong>Title</strong>: {{ ebook.title }}</p>
		<p><strong>Origin</strong>: {{ ebook.provider }}</p>
		<p><strong>Genre</strong>: TODO</p>
		<p><strong>Publisher</strong>: {{ ebook.publisher }}</p>

		{% if ebook.meta.goodreads and ebook.meta.goodreads.average_rating %}
		<p><strong>Goodreads Rating</strong>: {{ ebook.meta.goodreads.average_rating }}</p>
		{% endif %}

		{% if ebook.meta.goodreads and ebook.meta.goodreads.num_pages %}
		<p><strong>Number of pages</strong>: {{ ebook.meta.goodreads.num_pages }}</p>
		{% endif %}

		<p><strong>Date</strong>: {{ ebook.publish_date|date }}</p>

		{% if ebook.meta.goodreads and (ebook.meta.goodreads.isbn13 or ebook.meta.goodreads.isbn) %}
		<p>
			<strong>ISBN</strong>:
			{% if ebook.meta.goodreads.isbn13 %}
				{{ ebook.meta.goodreads.isbn13 }}
				{% if ebook.meta.goodreads.isbn %}
					({{ ebook.meta.goodreads.isbn }})
				{% endif %}
			{% else %}
				{{ ebook.meta.goodreads.isbn }}
			{% endif %}
		</p>
		{% endif %}

		{% if ebook.meta.amazon and ebook.meta.amazon.asin %}
		<p><strong>ASIN</strong>: {{ ebook.meta.amazon.asin }}</p>
		{% endif %}

		<div class="curated">
		{% if ebook.is_curated == 1 %}
		<a href="{{ url_for('ebooks.set_curated', ebook_id=ebook.ebook_id, state=0) }}" class="button small success">
			<img src="{{ url_for('core.static', filename='images/ogrew-22c476.png') }}" width="32" height="32" />
			Oii Curated
		</a>
		{% else %}
		<a href="{{ url_for('ebooks.set_curated', ebook_id=ebook.ebook_id, state=1) }}" class="button small warning">
			Not Curated
		</a>
		{% endif %}
		</div>

		<fieldset>
		<legend>Download</legend>

		{% for fmt in ebook.versions[0].formats %}
			<a href="{{ url_for('download.ebook', ebook_id=ebook.ebook_id, version_id=ebook.versions[0].version_id, fmt=fmt.format) }}" class="download">
				<svg class="icon icon-file-empty" style="width:64px; height:64px;">
					<use xlink:href="{{ url_for("core.static", filename="images/doc.svg") }}#icon-{{ fmt.format }}"></use>
				</svg>
			</a>
		{% endfor %}

		</fieldset>
	</div>

</div>

<div class="row">

	{% if ebook.versions|length > 1 %}

		<fieldset>
		<legend>Other Versions</legend>

		<table width="100%">
		<tr>
			<th colspan="2"></th>
			<th>Original format</th>
			<th>Quality rating</th>
		</tr>

		{% for version in ebook.versions %}
			{% if loop.index > 5 %}
			<tr>
				<td>
					{% for fmt in ebook.version.formats %}
						<a href="{{ url_for('download.ebook', ebook_id=ebook.ebook_id, version_id=ebook.versions[0].version_id, fmt=fmt.format) }}" class="download">
							<svg class="icon icon-file-empty" style="width:64px; height:64px;">
								<use xlink:href="{{ url_for("core.static", filename="images/doc.svg") }}#icon-{{ fmt.format }}"></use>
							</svg>
						</a>
					{% endfor %}
				</td>
				<td>Uploaded by {{ version.user }} on TODO</td>
				<td>{{ version.original_format }}</td>
				<td>{{ version.quality }}</td>
			</tr>
			{% endif %}
		{% endfor %}

		</table>
		</fieldset>

	{% endif %}

</div>

{% if ebook.rawmeta %}
<div class="row">

	<fieldset>
	<legend>Metadata</legend>
		<p>
			<strong>Source</strong>
			<pre>{{ ebook.rawmeta.source }}</pre>
		</p>
		<p>
			<strong>Amazon</strong>
			<pre>{{ ebook.rawmeta.amazon }}</pre>
		</p>
		<p>
			<strong>Goodreads</strong>
			<pre>{{ ebook.rawmeta.goodreads }}</pre>
		</p>
	</fieldset>

</div>
{% endif %}

{% endblock %}
