<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>O.G.R.E.</title>

		<link rel="stylesheet" href="{{ url_for('core.static', filename='ogreserver.css') }}">
	</head>

	<body>
		<header class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li>
						<a href="/">O.G.R.E.</a>
					</li>
				</ul>
			</div>

			<div class="top-bar-right">
				<ul class="menu">
					{% if not session.user_id %}
					<li><a href="{{ url_for_security('login') }}">log in</a></li>
					{% else %}
					<li><a href="{{ url_for('user.profile') }}">{{ g.user.username }}</a></li>
					<li><a href="{{ url_for_security('logout') }}">log out</a></li>
					{% endif %}
					<li class="menu-text">
						<a href="http://en.wikipedia.org/wiki/Ogre" target="_blank" class="ogre">
							<img src="{{ url_for('core.static', filename='images/ogrew.png') }}" />
						</a>
					</li>
				</ul>
			</div>
		</header>

		<header>
			<div class="row">
				{% import "macros.html" as macros %}
				{{ macros.search() }}
			</div>
		</header>

		<section class="row body">
			<div class="large-12 column">
				<div id="messages">
					{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
				</div>

				{% block body %}{% endblock %}
			</div>
		</section>

		<footer class="row full-width">
			<div class="large-4 column">
				<h6><strong>Made by Oii, inc.</strong></h6>
				<p>O.G.R.E. is another by-product of the oii hive mind</p>
			</div>

			<div class="large-4 column">
				<h6><strong>I'm lost!</strong></h6>
				<p>Skim through the <a href="/docs">O.G.R.E. docs</a>.</p>
			</div>
		</footer>

		<footer id="copyright">
			<div class="row full-width">
				<div class="large-4 column">
					<ul class="menu">
						<li><a>&copy; 2016 Oii, inc.</a></li>
					</ul>
				</div>
				<div class="large-8 column">
					<ul class="menu float-right">
						<li><a href="/">Home</a></li>
						<li><a href="http://github.com/oii/ogre">Hacking</a></li>
					</ul>
				</div>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="{{ url_for('core.static', filename='ogreserver.js') }}"></script>
		<script>
		  $(document).foundation();
		</script>
	</body>
</html>
