<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<title>O.G.R.E.</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">

		<script src="{{ url_for('static', filename='javascripts/vendor/custom.modernizr.js') }}"></script>
	</head>

	<body>
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">O.G.R.E.</a></h1>
				</li>
			</ul>

			<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					<li>
						{% if not session.user_id %}
						<a href="{{ url_for('login') }}">log in</a>
						{% else %}
						<a href="{{ url_for('logout') }}">log out</a>
						{% endif %}
					</li>
					<li class="divider"></li>
					<li style="padding-left:4px; padding-right:4px">
						<img src="{{ url_for('static', filename='images/ogre.png') }}" width="38" height="38" />
					</li>
				</ul>
			</section>
		</nav>

		<div class="row">
			<div class="large-12 columns">
				<h5>Search for some books &</h5>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<div id="messages">
					{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
				</div>

				<div class="search">
					{% if session.user_id %}
						{% import "macros.html" as macros %}
						{{ macros.search() }}
					{% endif %}
				</div>

				{% block body %}{% endblock %}
			</div>
		</div>

		<footer class="row full-width">
			<div class="large-4 columns">
				<h6><strong>Made by Oii, inc.</strong></h6>
				<p>O.G.R.E. is made by <a href="http://github.com/oii">Oii</a></p>
			</div>

			<div class="large-8 columns">
				<h6><strong>Clean that DRM!</strong></h6>
				<p>For a guide visit the <a href="http://ogre.oii.me.uk/dedrm.html">DRM removal guide</a>.</p>
			</div>
		</footer>

		<div id="copyright">
			<div class="row full-width">
				<div class="large-4 columns">
					<p>Site content &copy; 2013 Oii, inc.</p>
				</div>
				<div class="large-8 columns">
					<ul class="inline-list right">
						<li><a href="http://ogre.oii.me.uk">Home</a></li>
						<li><a href="http://github.com/oii/ogre">Hacking</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Check for Zepto support, load jQuery if necessary -->
		<script>
			document.write("<script src={{ url_for('static', filename='javascripts/vendor/') }}"
				+ ('__proto__' in {} ? 'zepto' : 'jquery')
				+ '.js><\/script>');
		</script>
		<script src="{{ url_for('static', filename='javascripts/foundation/foundation.js') }}"></script>
		<script src="{{ url_for('static', filename='javascripts/foundation/foundation.topbar.js') }}"></script>
		<script>
		  $(document).foundation();
		</script>
	</body>
</html>
