<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>O.G.R.E.</title>

		<link rel="stylesheet" href="{{ url_for('core.static', filename='ogreserver.css') }}">
	</head>

	<body>
		<header class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li>
						<a href="/">O.G.R.E.</a>
					</li>
				</ul>
			</div>
		</header>

		<div class="row">
			<div class="large-8 column">
				<br/>
				{% block body %}{% endblock %}
			</div>
		</div>

		<footer id="copyright">
			<div class="row full-width">
				<div class="large-4 column">
					<ul class="menu">
						<li><a>&copy; 2016 Oii, inc.</a></li>
					</ul>
				</div>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="{{ url_for('core.static', filename='ogreserver.js') }}"></script>
	</body>
</html>
