<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>O.G.R.E.</title>

		<link rel="stylesheet" href="{{ url_for('views.static', filename='stylesheets/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('views.static', filename='stylesheets/app.css') }}">

		<script src="{{ url_for('views.static', filename='bower_components/foundation/js/vendor/modernizr.js') }}"></script>
	</head>

	<body>
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">O.G.R.E.</a></h1>
				</li>
			</ul>

			<section class="top-bar-section">
				<ul class="right">
					<li class="divider"></li>
					{% if not session.user_id %}
					<li><a href="{{ url_for('views.login') }}">log in</a></li>
					{% else %}
					<li><a href="{{ url_for('views.profile') }}">{{ g.user.username }}</a></li>
					<li class="divider"></li>
					<li><a href="{{ url_for('views.logout') }}">log out</a></li>
					{% endif %}
					<li class="divider"></li>
					<li>
						<a href="http://en.wikipedia.org/wiki/Ogre" target="_blank" class="ogre">
							<img src="{{ url_for('views.static', filename='images/ogrew.png') }}" width="38" height="38" />
						</a>
					</li>
				</ul>
			</section>
		</nav>

		<div class="row">
			<div class="large-12 columns">
				<div id="messages">
					{% for message in get_flashed_messages() %}
					<div class="flash">{{ message }}</div>
					{% endfor %}
				</div>

				<h5>Search for a book</h5>

				<div class="search">
					{% if session.user_id %}
						{% import "macros.html" as macros %}
						{{ macros.search() }}
					{% endif %}
				</div>

				{% block body %}{% endblock %}
			</div>
		</div>

		<footer class="row full-width">
			<div class="large-4 columns">
				<h6><strong>Made by Oii, inc.</strong></h6>
				<p>O.G.R.E. is another by-product of the oii hive mind</p>
			</div>

			<div class="large-4 columns">
				<h6><strong>I'm lost!</strong></h6>
				<p>Skim through the <a href="/docs">O.G.R.E. docs</a>.</p>
			</div>
		</footer>

		<footer id="copyright">
			<div class="row full-width">
				<div class="large-4 columns">
					<p>Site content &copy; 2014 Oii, inc.</p>
				</div>
				<div class="large-8 columns">
					<ul class="inline-list right">
						<li><a href="http://ogre.oii.yt">Home</a></li>
						<li><a href="http://github.com/oii/ogre">Hacking</a></li>
					</ul>
				</div>
			</div>
		</footer>

		<script src="{{ url_for('views.static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ url_for('views.static', filename='bower_components/foundation/js/foundation.min.js') }}"></script>
		<script src="{{ url_for('views.static', filename='bower_components/foundation/js/foundation/foundation.topbar.js') }}"></script>
		<script>
		  $(document).foundation();
		</script>
		<script src="{{ url_for('views.static', filename='js/app.js') }}"></script>
	</body>
</html>
