{% for b in ebooks['results'] %}

<li class="ebook" {% if loop.last %}ic-append-from="/list-fragment/?s={{ search_text }}&pagenum={{ pagenum + 1 }}" ic-trigger-on="scrolled-into-view" ic-target="#ebook-listing" ic-indicator="#loading-message"{% endif %}>
	<h2><span id="{{ b.ebook_id[0:7] }}"></span></h2>

	<div class="callout radius">
		<div class="firstsection">
			<a class="title" href="{{ url_for('ebooks.detail', ebook_id=b.ebook_id) }}">{{b.author}} - {{b.title}}</a>
			<span class="info">
				<span class="rating">{{b.rating}}</span>
			</span>
		</div>
		<div class="secondsection">
			{% if b.is_curated %}
				<span class="label success">Curated</span>
			{% else %}
				<span class="label warning">Not curated!</span>
			{% endif %}
			<span class="label primary">{% if not b.is_fiction %}Non-{% endif %}Fiction</span>
		</div>
	</div>
</li>

{% endfor %}
