{% extends "layout.html" %}
{% block body %}

<input id="total-pagecount" type="hidden" value="{{ ebooks['pagecount'] }}" />

<ul id="ebook-listing">

{% for b in ebooks['results'] %}

<li class="ebook">
	<div class="panel radius">
		<div class="firstsection">
			<a class="title" href="/view/{{b.ebook_id}}">{{b.author}} - {{b.title}}</a>
			<span class="info">
				<span class="rating">{{b.rating}}</span>
			</span>
		</div>
		<div class="secondsection">
			<ul class="formats">
				{# for f in b.formats %}
				<li>
					<a href="/download/{{b.sdb_key}}/{{f}}">{{f}}</a>
					{% if not loop.last %},&nbsp;{% endif %}
				</li>
				{% endfor #}
			</ul>
			<ul class="users">
				{# for u in b.users %}
					<li>
						<a href="/search?user={{u}}">{{u}}</a>
						{% if not loop.last %},&nbsp;{% endif %}
					</li>
				</li>
				{% endfor #}
			</ul>
		</div>
	</div>
</li>

{% endfor %}

</ul>

<p id='loading-message'>Loading..</p>

{% endblock %}
