{% macro search(form) -%}
{% if form %}
<div class="row">
	<div class="large-2 column">
		&nbsp;
	</div>
	<div class="large-8 column">
		<h5>Search for a book</h5>
	</div>
	<div class="large-2 column">
		&nbsp;
	</div>
</div>

<form action="{{ url_for('ebooks.listing') }}" method="get">
	<div class="row">
		<div class="large-2 column">
			&nbsp;
		</div>
		<div class="large-7 column search-wrapper">
			{{ form.s }}
		</div>
		<div class="large-1 column">
			<input type="submit" value="Search" class="search button small float-right" />
		</div>
		<div class="large-2 column">
			&nbsp;
		</div>
	</div>

	<div class="row">
		<div class="large-2 column">
			&nbsp;
		</div>
		<div class="large-8 column advanced-closed" id="advanced-form">
			<a href="#" id="advanced">Advanced</a>
			<div>
			{{ form.is_curated.label }}
			{{ form.is_curated }}
			</div>
			<div>
			{{ form.is_fiction.label }}
			{{ form.is_fiction }}
			</div>
		</div>
		<div class="large-2 column">
			&nbsp;
		</div>
	</div>
</form>
{% endif %}
{%- endmacro %}
