{% extends "layout.html" %}
{% block body %}

<div class="large-2 column">
	&nbsp;
</div>

<div class="large-8 column">

	<div class="row">
		<h2 class="detail_page">{{ user.username }}</h2>
	</div>

	{% for error in form.errors %}<p class="error">{{ form.errors[error][0] }}</p>{% endfor %}

	<div class="row">
		<fieldset>
			<legend>Edit</legend>

			<form action="{{ url_for('user.profile_edit', user_id=user.id) }}" method="post">
				{{ form.csrf_token }}

				<dl>
					{% for field in form %}
					{% if field.name != 'csrf_token' %}
					<dt>{{ field.label }}</dt>
					<dd>{{ field() }}</dd>
					{% endif %}
					{% endfor %}

					<dd>
						<input type="submit" value="Save" class="button primary-dark" />
						<a href="/profile" class="button secondary">Cancel</a>
					</dd>
				</dl>
			</form>
		</fieldset>
	</div>

</div>

<div class="large-2 column">
	&nbsp;
</div>

{% endblock %}
