{% extends "layout.html" %}
{% block body %}

<div class="large-2 column">
	&nbsp;
</div>

<div class="large-8 column">

	<div class="row">
		<h2 class="detail_page">{{ user.username }}</h2>
	</div>

	<div class="row">
		{% if g.user.id == user.id %}
		<a href="{{ url_for('user.profile_edit', user_id=user.id) }}">edit profile</a>
		{% endif %}
	</div>

	<div class="row info">
		<p>
		<strong>Email Address</strong>: {{ user.email }}
		</p>
		<p>
		<strong>Preferred ebook format</strong>: {{ user.preferred_ebook_format }}
		</p>
	</div>

	<div class="row">
		<fieldset>
		<legend>Stats</legend>

		<p>Number of syncs from ogreclient</p>
		<div class="stat">{{ stats.total_syncs }}</div>

		<p>Number of ebook uploads</p>
		<div class="stat">{{ stats.total_uploads }}</div>

		<p>Number of DRM cleaned ebooks</p>
		<div class="stat">{{ stats.total_dedrm }}</div>
		</fieldset>
	</div>

</div>

<div class="large-2 column">
	&nbsp;
</div>

{% endblock %}
