{% extends "layout.html" %}
{% block body %}

<h2 class='detail_page'>{{ user.username }}</h2>

<div class="large-9 columns">

	<div class="row">
		{% if g.user.id == user.id %}
		<a href="{{ url_for('user.profile_edit', user_id=user.id) }}">edit profile</a>
		{% endif %}
	</div>

	<div class="row info">
		<p>
		<strong>Email Address</strong>: {{ user.email }}
		</p>
		<p>
		<strong>Preferred ebook format</strong>: {{ user.preferred_ebook_format }}
		</p>
	</div>

	<div class="row">
		<fieldset>
		<legend>Stats</legend>

		<table>
		<tr>
			<th>Number of syncs from ogreclient</th>
			<td>{{ stats.total_syncs }}</td>
		<tr>
		</tr>
			<th>Number of ebook uploads</th>
			<td>{{ stats.total_uploads }}</td>
		<tr>
		</tr>
			<th>Number of DRM cleaned ebooks</th>
			<td>{{ stats.total_dedrm }}</td>
		</tr>
		</table>
		</fieldset>
	</div>

</div>

{% endblock %}
