{% extends "layout.html" %}
{% block body %}

<h2 class='detail_page'>{{ ebook.firstname }} {{ ebook.lastname }} - {{ ebook.title }}</h2>

<div class="large-9 columns">

	<div class="row">
		{# <a href="{{ url_for('ebooks.edit', ebook_id=ebook.ebook_id) }}">edit ebook metadata</a> #}
	</div>

	<div class="row info book-info">
		<p>
		<strong>Author</strong>: {{ ebook.firstname }} {{ ebook.lastname }}
		</p>
		<p>
		<strong>Title</strong>: {{ ebook.title }}
		</p>
		<p>
		<strong>Genre</strong>: TODO
		</p>
		<p>
		<strong>Publisher</strong>: {{ ebook.publisher }}
		</p>
		<p>
		<strong>Date</strong>: {{ ebook.publish_date }}
		</p>

		{% for key, value in ebook.meta.items() %}
		{% if value %}
		<p>
		<strong>{{ key|capitalize }}</strong>: {{ value }}
		</p>
		{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		<fieldset>
		<legend>Versions</legend>

		<table width='100%'>
		<tr>
			<th colspan='2'></th>
			<th>Original format</th>
			<th>Quality rating</th>
		</tr>
		{% for version in ebook.versions %}
		<tr>
			<td>
				<a href='/download/{{ ebook.ebook_id }}/{{ version.version_id }}/epub'>
					<img src="{{ url_for('core.static', filename='images/epub-icon.png') }}" width="24" height="24" />
				</a>
				<a href='/download/{{ ebook.ebook_id }}/{{ version.version_id }}/mobi'>
					<img src="{{ url_for('core.static', filename='images/mobi-icon.png') }}" width="24" height="24" />
				</a>
			</td>
			<td>Uploaded by {{ version.user }} on TODO</td>
			<td>{{ version.original_format }}</td>
			<td>{{ version.quality }}</td>
		</tr>
		{% endfor %}
		</table>
		</fieldset>
	</div>

</div>

{% endblock %}
