-e git://github.com/oii/flask-markdown.git@9059a634fa642022819d0c5ef6915879bafb95a5#egg=Flask_Markdown-master
-e git://github.com/mafrosis/flask-security.git@4e52181#egg=Flask-Security-no-reset-email
Babel>2,<3
boto>2.4,<3
bottlenose>=1,<2
celery==4.0.2
datadog
Flask==0.12
Flask-Script==0.6.7
Flask-Uploads==0.2.1
Flask-WTF==0.13.1
ftfy==4.2.0
fuzzywuzzy==0.14.0
gunicorn==19.6.0
ordereddict==1.1
passlib==1.6.5
psycopg2>=2.6,<2.7
pyaml
python-dateutil>=2.6,<2.7
python-Levenshtein==0.12.0
redis>2,<3
requests>2.11,<3
salt>2016.3,<2016.4
SQLAlchemy>1.1,<1.2
Unidecode==0.04.19
whoosh>2.7,<3
