-e git://github.com/oii/flask-markdown.git@9059a634fa642022819d0c5ef6915879bafb95a5#egg=Flask_Markdown-master
Babel==2.2.0
boto==2.39.0
bottlenose==0.6.3
celery==3.1.20
Flask==0.10.1
Flask-Script==0.6.7
Flask-Security==1.7.5
Flask-Uploads==0.2.0
Flask-WTF==0.12
ftfy==4.0.0
fuzzywuzzy==0.8.1
gunicorn==19.4.5
MySQL-python==1.2.5
ordereddict==1.1
passlib==1.6.5
pyaml==15.8.2
python-dateutil==2.4.2
python-Levenshtein==0.12.0
requests==2.9.1
rethinkdb==2.2.0.post3
SQLAlchemy==1.0.11
Unidecode==0.04.19
whoosh==2.7.0
